version: '3.8'

services:
  app:
    build: .
    container_name: java_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:                   
      - SPRING_DATASOURCE_URL=jdbc:postgresql://relatorio_owner:npg_3PxJVZMB1ubp@ep-restless-fog-a8d4tbkz-pooler.eastus2.azure.neon.tech/relatorio?sslmode=require
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=12345
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
    networks:
      - minha-rede

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: relatorio
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - minha-rede
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  minha-rede:
